@import "../theme/variables.css";
.cd-timeline {
    box-shadow: none !important;
    border-radius: 0%;
    top: 0;
    bottom: 0;
    padding-top: 0;
    padding-inline-end: 0;
}

#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 10px;
    left: 25px;
    height: 100%;
    width: 4px;
    background: gray;
}

.vital-card-time {
    margin-right: 10px;
}

.cd-timeline-picture {
    display: flex;
    align-items: center;
    background-color: white;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border-color: #4a87ee;
    border-style: solid;
    border-width: 2px;
    font-size: 12px;
    text-align: center;
    position: absolute;
}

.cd-timeline-content {
    position: relative;
    top: 0;
    margin-left: 50px;
    border-style: solid;
    border-width: 2px;
    box-shadow: none !important;
    margin-top: 0px;
    overflow: visible;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    right: 100%;
    height: 0;
    width: 0;
    top: 10px;
    border: 7px solid transparent;
    border-right: 7px solid white;
    border-right-color: inherit;
}

.patient-list-item {
    outline-style: solid;
    outline-width: thin;
    outline-color: black;
}

.patient-list-item-name {
    background-color: var(--ion-color-patient-col-name);
}

.patient-list-item-heading-text {
    font-weight: 700;
    color: black;
}

.code-list-item-name {
    background-color: white;
}

.text-button {
    color: black;
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.region-affected-image {
    width: 200px;
    height: 300px;
}

.fast-assessment-list {
    padding-top: 0px;
    padding-bottom: 0px;
}

.fast-assessment-col-left {
    background-color: var(--ion-color-fastassesmentitem);
}

.fast-assessment-col-right {
    background-color: black;
}

.ion-text-left.fast-assessment-col-left.md.hydrated {
    color: white;
}

.ion-text-left.fast-assessment-col-right.md.hydrated {
    color: white;
}

.rankingscale-button-text {
    text-transform: none;
}

.ion-checkbox.radiology {
    --checkmark-color: var(--ion-color-accordanceheading);
    --background-checked: transparent;
    --border-color: white;
    --border-color-checked: transparent;
}

.custom-icon {
    background-color: red;
    background: red;
}

.ion-radio-button-red {
    background-color: red;
    font-size: 30px;
    border-radius: 50%;
    border: none;
}

.ion-radio-button-green {
    background-color: greenyellow;
    font-size: 30px;
    border-radius: 50%;
    border: none;
}

.patient-info {
    background-color: var(--ion-toolbar-background);
}

.rankingscale-image {
    font-size: 30px;
}

.sendpatient-radiology-image {
    font-size: 20px;
}

.content-with-full-width {
    width: 100%;
    padding: 0px;
}

.symptoms-content {
    padding: 0px;
    --padding-start: 0px;
    --padding-end: 0px;
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
}

.ion-text-right {
    padding-right: 0px;
}